* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
body {
    background: rgb(2, 2, 27)
}
/* HEADER */
#header {
    padding: 50px 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img {
        width: 14%;
    }
    h1 {
font-size: 22.55px;
font-weight: 600;
color: #3A68B8;
    }
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
font-size: 16px;
font-weight: 600;
color: white;
    }
}
.header-btn {
    button {
width: 112px;
height:52px;
padding: 15px 30px 15px 30px;
gap: 10px;
border: none;
border-radius: 10px;
background-color: #3A68B8;
color: white;
    }
}
/* HEADER */

/* HERO */
#hero {
    position: relative;
}
.hero {
    display: flex;
    align-items: center;
    gap: 100px;
}
.hero-text {
    color: white;
    h3 {
margin-bottom: 20px;
font-size: 18px;
font-weight: 600;
color: #3A68B8;
    }
    h1 {
        font-size: 55px;
        font-weight: 800;
        line-height: 61.5px;
        
    }
    p {
margin-top: 40px;
font-size: 18px;
font-weight: 600;
line-height: 28.8px;
color: rgba(255, 255, 255, 0.59);
    }
    button {
margin-top: 40px;
width: 171px;
height: 47px;
background-color: #3A68B8;
border: none;
color: white;
border-radius: 5px;
ion-icon {
    font-size: 20px;
    position: absolute;
    left: 285px;
    top: 477px;
    display: flex;
    color: white;
}
    }
    .hero-btn {
        display: flex;
        gap: 20px;
    }
}
.hero-logo-img {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* HERO */
/* ABOUT */
#about {
    background-color: #020A18;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.about-text {
    color: white;
    h1 {
font-size: 40px;
font-weight: 700;
line-height: 52px;
    }
    p {
font-size: 16px;
font-weight: 600;
line-height: 25.6px;
margin: 30px 0;
color: rgba(255, 255, 255, 0.519);
    }
    button {
        width: 150px;
        height: 52px;
        border: none;
        border-radius: 5px;
        background-color: #3A68B8;
        color: white;
    }
}
/* ABOUT */
/* BLOCKS */
#blocks {
    padding: 100px 0;
}
.blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.block {
    width: 362px;
    height: 350px;
    background: #3A68B8;
    color: white;
    text-align: center;
    border-radius: 10px;
    img {
        margin-top: 20px;
    }
    h1 {
font-size: 25px;
font-weight: 700;
line-height: 31.25px;
margin: 20px 0;
    }
    p {
font-size: 16px;
font-weight: 600;
line-height: 25.6px;
    }
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.block-circle-top {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2c364780;
    
}
.block-circle-center {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2c3647fb;
    
}
.block-circle-bottom {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2c364780;
    
}
/* BLOCKS */
/* KNOW */
.know {
    display: flex;
    align-items: center;
    justify-content: center;
}
.know-text {
    p {
font-size: 16px;
font-weight: 600;
line-height: 25.6px;
color: rgba(255, 255, 255, 0.517);
margin: 30px 0;
    }
    h1 {
font-size: 40px;
font-weight: 700;
line-height: 52px;
color: white;
    }
}
/* KNOW */
/* FOOTER */
#footer {
    padding: 100px 0;
    position: relative;
}
.footer-contact {
    h1 {
color: #3A68B8; 
font-size: 15.96px;
font-weight: 600;
line-height: 21.74px;
margin: 10px 0;
    }
    p {
font-size: 14px;
font-weight: 450;
line-height: 17.71px;
color: rgba(255, 255, 255, 0.506);
margin-bottom: 20px;
    }
   
}
.footer-contact-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    a {
margin-top: 30px 0;
font-size: 14px;
font-weight: 500;
line-height: 17.71px;
color: white;
 ion-icon {
color: white;
margin-right: 7px;
}
 }
}
.footer-nav-top {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 450px;
    gap: 15px;
    h1 {
font-size: 16px;
font-weight: 500;
color: white;
    }
    a {
font-size: 14px;
font-weight: 450;
color: rgba(255, 255, 255, 0.506);
    }
}
.footer-nav-center {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 680px;
    gap: 15px;
    h1 {
font-size: 16px;
font-weight: 500;
color: white;
    }
    a {
font-size: 14px;
font-weight: 450;
color: rgba(255, 255, 255, 0.506);
    }
}
.footer-nav-bottom {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 920px;
    gap: 15px;
    color: white;
    h1 {
font-size: 16px;
font-weight: 500;
color: white;
    }
    a {
font-size: 14px;
font-weight: 450;
color: rgba(255, 255, 255, 0.506);
    }
}
.footer-nav-store {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 1150px;
    gap: 10px;
    color: white;
    h1 {
font-size: 16px;
font-weight: 500;
color: white;
    }
    p {
font-size: 14px;
font-weight: 450;
line-height: 17.71px;
color:  rgba(255, 255, 255, 0.506);
margin: 20px 0;
    }
    a {
color: white;
font-size: 14px;
font-weight: 500;
line-height: 17.71px;
    }
}
.footer-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    ion-icon {
        font-size: 20px;
        color:rgba(255, 255, 255, 0.506); 
    }
}
.lang {
    a {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 16px;
    }
}
/* FOOTER */
/* MEDIA */
@media (max-width: 1500px) {
    .container {
        width: 90%;
    }
    .hero-text {
         button {
            ion-icon {
                left: 281px;
                top: 502px;
            }
        }
    }
    .footer-nav-store {
        left: 1050px;
    }
}
@media (max-width: 1400px) {
    .container {
        width: 90%;
    }
    .know-text {
        p {
            font-size: 19px;
            line-height: 28.6px;
        }
    }
    .hero-text {
        p {
            font-size: 15px;
            line-height: 25.8px;
        }
    }
    .about-text {
        p {
            font-size: 15px;
        }
        h1 {
            font-size: 34px;
            font-weight: 700;
            line-height: 45px;
        }
    }
    .about-img {
        img {
            width: 80%;
        }
    }
    .footer-icons {
        gap: 13px;
    }
    .footer-nav-store {
        left: 1010px;
    }
    .footer-nav-bottom {
        left: 840px;
    }
    .footer-nav-center {
        left: 650px;
    }
    
}
@media (max-width: 1300px) {
    .container {
        width: 90%;
    }
    .hero-text {
        h1 {
            font-size: 47px;
            line-height: 56.5px;
        }
    }
    .hero-img { 
        img {
            width: 100%;
        }
    }
    .hero-btn {
         button {
            ion-icon {
                display: none;
            }
        }
    }
    .know-text {
        p {
            font-size: 19px;
            line-height: 24.6px;
        }
        h1 {
            font-size: 27px;
            line-height: 40px;
        }
    }

}
@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .hero-text {
        p {
            font-size: 13px;
            line-height: 22.8px;
        }
        h1 {
            font-size: 47px;
            line-height: 56.5px; 
        }
        h3 {
            font-size: 16px;
        }
    }
    .hero-btn {
        button {
            ion-icon {
                top: 417px;
                margin-left: -20px;
            }
        }
    }
    .hero-logo-img {
        img {
            width: 15%;
            gap: 0px;
        }
        
    }
    .about-img {
        img {
            width: 80%;
        }
    }
    .about-text {
        h1 {
            font-size: 29px;
            line-height: 43px;
        }
        p {
            font-size: 11px;
            line-height: 20.6px;
        }
    }
    .know-text {
            p {
                font-size: 18px;
                line-height: 25.6px;
            }
        h1 {
            font-size: 24px;
            line-height: 36px;
    }
}
    .know {
        gap: 200px;
    }
    .know-img {
        img {
            width: 100%;
            margin-left: 1px;
        }
    }
    .footer-nav-bottom {
        display: none;
    }
    .footer-nav-store {
        left: 800px;
    }
    .footer-nav-center {
        left: 600px;
    }
    .footer-nav-top {
        left: 400px;
    }
}
@media (max-width: 1100px) {
    .container {
        width: 90%;
    }
    .hero {
        display: flex;

    }
    .hero-img {
        img {
            width: 100%;
        }
    }
}
@media (max-width: 1000px) {
.container {
    width: 90%;
}
#header {
    padding: 20px 0 100px;
}
.hero {
    flex-direction: column;
}
.hero-text {
    h1 {
        font-size: 50px;
        font-weight: 800;
        line-height: 59.5px;
    }
}
.hero-logo-img {
    img {
        width: 16%;
    }
}

.block {
    height: 280px;
    h1 {
        font-size: 12px;
        line-height: 13.25px;
    }
    img {
        margin-top: 20px;
        width: 50%;
    }
        p {
            font-size: 9px;
            line-height: 15.6px;
        }
} 
.header-nav {
    a {
        font-size: 14px;
    }
}
    .header-img {
        h1 {
            font-size: 16.5px;
        }
    }
.header-btn {
    button {
        height: 40px;
        font-size: 10px;
    }
}
.about-img {
    img {
        width: 80%;
    }
}
.about-text {
    p {
        font-size: 11px;
        line-height: 19.6px;
        margin: 20px 0;
    }
    button {
        width: 110px;
        height: 35px;
    }
}
    .block {
    img {
        margin-top: 20px;
        width: 24%;
    }
    h1 {
        font-size: 17px;
        line-height: 20.25px;
    }
    p {
        font-size: 14px;
        line-height: 16.6px;
    }
}
.block-circle-center {
    width: 13px;
    height: 13px;
}
.hero-btn {
    gap: 0;
}
.know {
    flex-direction: column;
}
.know-text {
    text-align: center;
}
.know-img {
    margin-top: 50px;
}
.hero-text {
    text-align: center;
    h1 {
        font-size: 50px;
        line-height: 57.5px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        margin-top: 28px;
    }
    button {
        width: 131px;
        height: 37px;
        margin-left: 85px;
        font-size: 10px;
        ion-icon {
            display: none
        }
        }
}
.footer-nav-top {
    display: none;
}
.footer-nav-center {
    display: none;
}
.footer-nav-bottom {
    display: none;
}
.footer-nav-store {
    top: 150px;
    left: 380px;
}
}
@media (max-width: 900px) {
.container {
    width: 90%;
}
.header-nav {
    a {
        font-size: 12px;
    }
}
.header-img {
    h1 {
        font-size: 15.5px;
    }
}
.about-text {
    h1 {
        font-size: 35px;
        line-height: 48px;
    }
    p {
        font-size: 9px;
        line-height: 17.6px;
    }
    button {
        font-size: 10px;
    }
}
.hero-img {
    img {
        width: 80%;
        margin-left: 70px;
    }
}
.block {
    width: 300px;
    height: 280px;
}
.block-circle-center {
width: 11px;
height: 11px;
}
.block-circle-top {
    width: 11px;
    height: 11px;
    }
    .block-circle-bottom {
        width: 11px;
        height: 11px;
        }
.know-img {
    img {
        width: 80%;
        margin-left: 60px;
    }
}
}
@media (max-width: 800px) {
    .container {
        width: 90%;
    }
    .header-img {
        h1 {
            font-size: 13.5px;
        }
    }
    .header-btn {
        button {
            height: 40px;
            font-size: 10px;
            width: 92px;
            height: -1px;
        }
    }
    .header-nav {
        a {
            font-size: 11px;
        }
    }
    .hero-text {
        h3 {
            font-size: 15px;
        }
        h1 {
            font-size: 46px;
            line-height: 50.5px;
        }
        p {
            font-size: 17px;
            line-height: 24px;
        }
    }
    .about-text {
        h1 {
            font-size: 22px;
            line-height: 35px;
        }
        button {
            width: 92px;
            height: 30px;
        }
    }
    .block {
        width: 295px;
        height: 275px;
        p {
            font-size: 14px;
            line-height: 19.6px;
        }
        h1 {
            font-size: 18px;
        }
    }
    .know-text {
        h1 {
            font-size: 40px;
            line-height: 45px;
        }
    }
    .know-img {
        img {
            width: 75%;
        }
    }
}
@media (max-width: 700px) {
    .container {
        width: 90%;
    }
    .block {
        width: 257px;
        height: 270px;
    }
    .blocks {
        gap: 25px;
    }
    .know-text {
        h1 {
            font-size: 38px;
        }
    }
    .about {
        flex-direction: column;
    }
    .about-img {
        img {
            width: 80%;
            margin-left: 60px;
            margin-bottom: 50px;
        }
    }
    .about-text {
        text-align: center;
        p {
            font-size: 14px;
            line-height: 20.6px;
        }
        h1 {
            font-size: 38px;
            line-height: 49px;
        }
        button {
            width: 123px;
            height: 40px;
        }
    }
    .hero-text {
        button {
            width: 170px;
            margin-left: 60px;
        }
        h3 {
            font-size: 19px;
        }
    }
    .header-nav {
        a {
            font-size: 9px;
        }
    }
    .header-img {
        h1 {
            font-size: 10.5px;
        }
    }
    .header-btn {
        button {
            width: 80px;
            height: 35px;
            font-size: 6px;

        }
    }
    .hero-text {
        h1 {
            font-size: 38px;
            line-height: 46.5px;
        }
    }
}
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
    .blocks {
        gap:25px;
    }
    .hero-logo-img {
        img {
            width: 20%;
        }
    }
    .header-nav {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .header-btn {
        button {
            width: 85px;
            height: 35px;
            font-size: 8px;
            margin-left: 10px;
        }
    }
    .block {
        width: 400px;
        height: 315px;
        margin-left: 5px;
            p {
                font-size: 17px;
                line-height: 22.6px;
            }
            h1 {
                font-size: 20px;
            }
    }
    .know-text {
        h1 {
            font-size: 28px;
            line-height: 38px;
        }
    }
    .footer-nav-store {
        gap: 10px;
        top: 150px;
        left: 290px;
        p {
            font-size: 10px
        }
        h1 {
            font-size: 14px;
        }
    }
    .footer-contact {
        p {
            font-size: 10px;
        }
        h1 {
            font-size: 14px;
        }
    }
    .footer-contact-nav {
        a {
            font-size: 11px;
        }
    }
    .footer-nav-store {
        a { 
            font-size: 12px;
        }
    }
    .about-text {
        h1 {
            font-size: 32px;
            line-height: 43px;
        }
    }
    .hero-text {
        p {
            font-size: 14px;
            line-height: 22px;
        }
        h3 {
            font-size: 17px;
    }
    button {
        margin-left: 23px;
    }

    }
}
@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    .know-text {
        p {
            font-size: 12px;
            line-height: 22.6px;
        }
            h1 {
                font-size: 25px;
                line-height: 35px;
            }
    }
    .about-text {
        p {
            font-size: 13px;
            line-height: 19.6px;
        }
            h1 {
                font-size: 28px;
                line-height: 40px;
            }
    }
    .hero-text {
        p {
            font-size: 11px;
            line-height: 20px;
        }
        h1 {
            font-size: 32px;
            line-height: 44.5px;
        }
        h3 {
            font-size: 14px;
        }
        .hero-text {
            button {
                margin-left: 15px;
            } 
            .hero-img {
        img {
            width: 80%;
            margin-left: 50px;
        }
       
    }
    .footer-contact-nav {
        a {
            font-size: 10px;
        }
    }
}
}
.footer-contact {
    p {
        display: none;
    }
}
.footer-icons {
    gap: 13px;
    ion-icon {
        font-size: 15px;
    }
}
.footer-nav-store {
    gap: 14px;
    top: 172px;
    left: 245px;
p {
    display: none;
}
}
    
.hero-text {
    button {
        margin-left: 45px;
        width: 100px;
    }
}

.hero-img {
    img {
        width: 80%;
        margin-left: 50px;
    }
}
    .header-img {
        h1 {
            display: none;
        }
        img {
            width: 65%;
        }
    }

}
@media (max-width: 400px) {
    .container {
        width: 90%;
    }
    .header {
        display: flex;
        align-items: center;
        gap: 0;
        button {
            display: none;
        }
    }
    .header-img {
        img {
            margin-right: 50px;
            width: 30%;
        }
    }
    .hero-logo-img {
        gap: 19px;
        img {
            margin-left: 3px;
        }
    }
    .block {
        height: 340px;
        margin-left: 0px;
        img {
            width: 35%;
            margin-right: -20px;
        }
        h1 {
            line-height: 26px;
            font-size: 21px;
        }
        p {
            font-size: 15px;
            line-height: 20.6px;
        }
}
.about-img {
    img {
        margin-right: 55px;
    }
}
.circle {
    display: none;
}
.about-text {
    margin-left: 20px;
    h1 {
        font-size: 18px;
        line-height: 27px;
    }
    p {
        font-size: 8px;
        line-height: 16.6px;
    }
    button {
        width: 86px;
        height: 25px;
    }
}
.know-text {
    h1 {
        font-size: 16px;
        line-height: 26px;
    }
    p {
        font-size: 8px;
        line-height: 14.6px;
    }
}
.know-img {
    img {
margin-left: 40px;
    }
}
.footer-contact {
    h1 {
        font-size: 10px;
    }
}
.footer-contact-nav {
    gap: 23px;
a {
    font-size: 8px;
}
img {
    margin-left: 40px;
}
}
.footer-nav-store {
    left: 215px;
    h1 {
        font-size: 11px;
    }
    a {
        font-size: 10px;
    }
}
.hero-img {
    img {
        margin-left: 56px;
    }
}
.hero-text {
    margin-left: 15px;
    button {
        width: 80px;
        height: 30px;
        margin-left: 14px;
    }
    p {
        font-size: 7px;
        line-height: 15px;
    }
    h1 {
        font-size: 19px;
        line-height: 27.5px;
    }
    h3 {
        font-size: 10px;
    }

}
}


    

/* MEDIA */